@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
html {
  font-family: "Quicksand", sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  border: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.gt p {
  text-align: justify;
  margin: 2%;
  font-size: larger;
}

.gt p img {
  padding-left: 5%;
  width: 650px;
  height: 400px;
}

.gt .banner img {
  width: 1420px;
  height: 450px;
  margin-left: 2%;
}

.gt h3 {
  margin-left: 2%;
}

.gt h4 {
  margin-left: 2%;
}

.gt .vs {
  margin: 5%;
}

.h2 p {
  margin-left: 2%;
  font-weight: bold;
  margin-top: 5%;
  font-size: 25px;
}

/* header nav */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Sreach buton */
.search {
  background: #f4f4f4;
  height: 40px;
  position: relative;
}

.search input {
  float: right;
  padding: 5px;
  margin-top: 5px;
  margin-right: 30px;
  border-radius: 5px;
  font-size: 15px;
  border: 1px solid #ccc;
}

.search button {
  height: 29px;
  width: 30px;
  position: absolute;
  right: 2px;
  top: 5px;
  border-bottom-right-radius: 3px;
  border: 1px solid #ccc;
  border-left: none;
}

/* logo */
.logo {
  width: 100%;
}

.logo img {
  width: 100%;
}

/* menu-top */
.menu-top {
  margin: 20px 20px;
}

.menu-top a {
  font-size: 15px;
  text-decoration: none;
  margin: 0 7px;
  color: gray;
}

nav {
  background: orangered;
  min-height: 40px;
}

nav ul li {
  display: inline;
  line-height: 40px;
  padding: 10px 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  color: yellow;
  font-weight: bold;
  transition: all 0.2s linear;
}

/* footer */
footer {
  width: 100%;
  min-height: 400px;
  background: #f4f4f4;
  display: flex;
}

.thongtin {
  width: 20%;
  padding: 10px;
}

p.thongtin-tieude {
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

ul {
  list-style: none;
}

.thongtin ul li {
  margin: 10px 0;
}

.hinhanh {
  width: 60%;
  padding: 10px;
}

.hinhanh img {
  width: 100px;
  height: 100px;
  float: left;
  margin: 10px;
}

.danhmuc {
  width: 20%;
  padding: 10px;
}

.danhmuc ul li {
  margin: 10px 0;
}

.danhmuc li a {
  text-decoration: none;
  font-size: 20px;
  color: black;
}

.danhmuc li a:hover {
  color: red;
  transition: all 0.2s linear;
  font-weight: bold;
}

footer {
  display: flex;
  padding-bottom: 50px;
}

.footer-img{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 32px;
}
.img-item{
  height: 140px;
}
.img-item img{
  overflow: hidden;
}

.footer-img>.img-item>img{
  width:300px;
}